/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common styles */

.header,
.main,
.footer {
  max-width: 1440px;
  margin: 0 auto;
}

.hFont {
  font-family: "Noto Serif", serif;
}

.pFont {
  font-family: "Inter", sans-serif;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
}

.h1orange {
  color: rgb(233, 90, 8);
}

.btn {
  background: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  border: none;
  padding: 20px 80px;
  font-weight: 600;
  font-size: 1.25rem;
}
.btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(233, 90, 8);
  border: 1px solid rgb(233, 90, 8);
  cursor: pointer;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

.navbar #home {
  color: rgb(37, 36, 50);
  font-weight: 700;
  margin-right: 50px;
}

.navbar #shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
  margin-right: 50px;
}

.navbar #cart {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* banner section */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.banner_content {
  width: 50%;
}
.banner img {
  width: 50%;
}

.tittleFreshFlowers {
  font-size: 4rem;
  font-weight: 700;
}

/* our plants section */

.ourPlants {
  margin: 100px 0;
}

.plantsContent {
  text-align: center;
  margin: 50px 0;
}
.plantCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plantCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.plantCard img {
  width: 100%;
}
.plantCard .title {
  font-size: 1.25rem;
  font-weight: 500;
}
.plantCard .des {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* plants lover section */

.plantsLoverSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.plantsLoverContent {
  width: 50%;
}
#loverH1 {
  justify-content: left;
  margin-bottom: 20px;
}

/* Join section */
.join {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 100px 0;
}
.joinContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
}
.joinContent h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
.joinForm {
  display: flex;
  align-items: center;
  justify-content: center;
}
#emailInput{
  padding: 20px 40px;
  font-size: 1.25rem;
  border: none;
  width: 40.25rem;
}

/* responsive layout */
@media screen and (max-width: 576px) {
  /* common styles */
  .btn {
    padding: 10px 40px;
    font-size: 1rem;
  }
  .btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(233, 90, 8);
    border: 1px solid rgb(233, 90, 8);
    cursor: pointer;
  }
  /* nav section */
  .navbar {
    margin: 20px 16px;
  }

  .navbar #home,
  #shop {
    display: none;
  }
  /* banner section */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .banner img {
    width: 100%;
  }
  .banner_content {
    width: 100%;
    text-align: left;
  }
  .tittleFreshFlowers {
    font-size: 1.5rem;
    margin: 0 16px;
  }
  .description {
    font-size: 1rem;
    margin: 0 16px;
  }

  /* our plants section */

  .plantCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 0 16px;
  }
  .plantCard img {
    width: 100%;
  }
  .plantCard .title {
    font-size: 1rem;
    font-weight: 500;
  }
  .plantCard .des {
    font-size: 1rem;
    font-weight: 700;
  }

  /* plants lover section  */
  .plantsLoverSection {
    flex-direction: column;
    gap: 20px;
    margin: 0 16px;
  }
  .plantsLoverSection img {
    width: 100%;
  }
  .plantsLoverContent {
    width: 100%;
    text-align: left;
  }
  #loverH1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  #plantLoverDes {
    margin: 1rem;
  }
}
